html { font-size:62.5%; }

body{
    margin:0;
}

.gohome{
    width: 4.0rem;
    position: absolute;
    top: 3.0rem;
    left: 5%;
    z-index: 98;
}

.writing{
    width: 4.0rem;
    position: absolute;
    bottom: 8.0rem;
    right: 5%;
    z-index: 98;

}

.myloc{
    width: 4.0rem;
    position: absolute;
    bottom: 3.0rem;
    right: 5%;
    z-index: 98;

}