@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }

.top-box{
    display: flex;
    justify-content: center;
}

.menu-input-box{
    position: absolute;
    top: 25px;
    display: flex;
    z-index: 98;
}

.menu-open {
    width: 39px;
    height: 39px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 0px;
    margin-top: 6px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-img {
    width: 30px;
}

.search-input {
    width: 80vw;
    height: 50px;
    border-radius: 26px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    top: 43px;
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;    
    border: none;
    display: flex;
    justify-content: center;
}

.search-input-in {
    width: 85%;
    height: 80%;
    border-radius: 24px;
    font-family: 'Noto Sans KR', sans-serif;    
    font-size: 15px;
    font-weight: 400;
    border: none;
    padding: 5px;
}

.search-btn{
    border: none;
    background: none;
    padding-left: 0;
}

.search-icon {
    width: 35px;
}

.path{
    width: 40px;
    position: absolute;
    bottom: 80px;
    right: 5%;
    z-index: 98;

}

.myloc{
    width: 40px;
    position: absolute;
    bottom: 30px;
    right: 5%;
    z-index: 98;

}


.menu_bg { 
    width: 100%; 
    height: 2000px; 
    position: fixed; 
    top:0px; 
    left:0px; 
    overflow: hidden; 
    display: none; 
}
.menu { 
    position:absolute; 
    top:0px; 
    left:0px; 
    width:100%; 
    height: 100%; 
    background-image: linear-gradient(to right, rgba(02,80,90,0.9) 60%, rgba(0,0,0,0.16) 60%);
    font-family: 'Noto Sans KR', sans-serif; 
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
}
.menu > div { 
    padding: 15px; 
}

.menu_item:hover { 
    background-image: linear-gradient(to right, #ffffff 60%, rgba(0,0,0,0) 60%);
    color: #015462; 
}
.olMap{
    position:absolute;
   top: 80px;
   margin: auto;
}

li{
    list-style-type: none;
}

ul{
    padding-left: 0px;
}

.item{
    border: 2px solid #015462;
    border-radius: 30px 30px;
    background-color: #EBEBEB;
    color: #015462;
}

.item:hover{
    border-color: #015462;
    background-color: #015462;
    color: #ffffff;
}

#item{
    margin-top: 10px;
}

.map{
    z-index: -1;
}