body{
    font-family: 'Noto Sans KR', sans-serif; 
    font-weight: 700;
    font-size: 20px;
    color: #015462;
}

.top_box{
    border-bottom: 1px solid #A5A5A5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 70px;
    padding-bottom: 10px;
    gap: 20px 0px;
}

.goback{
    width: 50px;
    grid-row: 1/2;
    grid-column: 1/2;
}

.box_title{
    margin-left: 20px;
    grid-row: 2/3;
    grid-column: 1/3;
    font-size: 30px;
    margin: 0 0 0 20px;
    align-self: end;
}

div.alarm_item{
    padding: 7px 0 7px 20px;
    margin: 20px 0 20px 0;
    font-size: 18px;
}

#alarm_item01{
    border-bottom: 1px solid #E7E6E6;
}

/* The switch - the box around the slider */
.switch {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
    vertical-align:middle;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #02C39A;
}

input:focus + .slider {
    box-shadow: 0 0 1px #02C39A;
}

input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch1,
.switch2{
    float:right;
    margin-right: 20px;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: repeat(2, 1fr);
}

.detail_box{
    display: grid;
    grid-template-columns: 80% 50px;
    grid-template-rows: 70px 100px 100px;
    border-radius: 26px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    background-color: rgba(2,128,144,0.9);
    color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif; 

}

.d_type{
    grid-row: 1/2;
    grid-column: 1/2;
}

.d_goback{
    grid-row: 1/2;
    grid-column: 2/3;
}

.d_img{
    grid-row: 2/3;
    grid-column: 1/3;
}

.d_loc{
    grid-row: 3/4;
    grid-column: 1/3;
    border-radius: 10px;
    background-color: #ffffff;
    color: #4d4d4d;
}