body{
    font-family: 'Noto Sans KR', sans-serif; 
    font-weight: 700;
    font-size: 20px;
    color: #015462;
}

.top_box{
    border-bottom: 1px solid #A5A5A5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 70px;
    padding-bottom: 10px;
    gap: 20px 0px;
}

.goback{
    width: 50px;
    grid-row: 1/2;
    grid-column: 1/2;
}

.user_icon{
    width: 70px;
    margin-left: 20px;
    grid-row: 2/3;
    grid-column: 1/2;
    border-radius: 10px;
}


.log{
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: end;
    align-self: center;
    margin-right: 30px;
}

.user_msg{
    margin-left: 100px;
    margin-bottom: 0;
    grid-row: 2/3;
    grid-column: 1/3;
    align-self: end;
}

a{
    text-decoration: none;
    color: #015462;
}

a:hover{
    color: #ffffff; 
}

.log:hover{
    color: #015462;
}

div.menu_item{
    padding: 7px 0 7px 20px;
    margin: 20px 0 20px 0;
    font-size: 18px;
}

div.menu_item:hover{
    background-color: #028090;
}