html { 
    font-size:62.5%; 
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
}

.myloc{
    width: 4.0rem;
    position: absolute;
    bottom: 3.0rem;
    right: 5%;
    z-index: 98;
}

.pathfinder_input_box{
    background-color: #015462;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: repeat(2, 4.0rem);
    gap: 1.0rem;
    padding: 1.0rem 0 1.0rem 0;
}

.path_switch{
    grid-row: 1/3;
    grid-column: 1/2;
    height: 30%;
    align-self: center;
    justify-self: end;
}

.startpoint,
.endpoint{
    border-radius: 2.6rem;
    border: none;
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;  
}

.startpoint_input,
.endpoint_input{
    width: 85%;
    height: 80%;
    border-radius: 2.4rem;
    font-family: 'Noto Sans KR', sans-serif;    
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    padding: 0.4rem 0 0.4rem 3.0rem;
}

.startpoint{
    grid-row: 1/2;
    grid-column: 2/3;
}

.endpoint{
    grid-row: 2/3;
    grid-column: 2/3;
}

.path_close{
    grid-row: 1/2;
    grid-column: 3/4;
    height: 70%;
    align-self: center;

}

.start_pathfinder{
    grid-row: 2/3;
    grid-column: 3/4;
    height: 70%;
    align-self: center;

}

.myloc{
    z-index: 99;
}



input[type=radio]{
    display:none; 
    margin: 1.0rem;
}

input[type=radio]+label{
    display:inline-block; 
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    background-color: #f5f5f5;
    border:0.1rem solid #ccc;
    border-radius: 20%;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;  
    font-size: 1.5rem;
    font-weight: 700;
}

input[type=radio]:checked+label{
    background-image: none;
    background-color: #028090;
    color:#ffffff;
}
