.myloc{
    width: 40px;
    position: absolute;
    bottom: 30px;
    right: 5%;
    z-index: 98;
}

.pathfinder_input_box{
    background-color: #015462;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: repeat(2, 40px);
    gap: 10px;
    padding: 10px 0 10px 0;
}

.path_switch{
    grid-row: 1/3;
    grid-column: 1/2;
    height: 30%;
    align-self: center;
    justify-self: end;
}

.startpoint,
.endpoint{
    border-radius: 26px;
    border: none;
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;  
}

.startpoint_input,
.endpoint_input{
    width: 85%;
    height: 80%;
    border-radius: 24px;
    font-family: 'Noto Sans KR', sans-serif;    
    font-size: 15px;
    font-weight: 400;
    border: none;
    padding: 4px 0 4px 30px;
}

.startpoint{
    grid-row: 1/2;
    grid-column: 2/3;
}

.endpoint{
    grid-row: 2/3;
    grid-column: 2/3;
}

.path_close{
    grid-row: 1/2;
    grid-column: 3/4;
    height: 70%;
    align-self: center;

}

.start_pathfinder{
    grid-row: 2/3;
    grid-column: 3/4;
    height: 70%;
    align-self: center;

}

.myloc{
    z-index: 99;
}

input[type=radio]{
    display:none; 
    margin: 10px;
}

input[type=radio]+label{
    display:inline-block; 
    padding: 2px 5px 2px 5px;
    background-color: #f5f5f5;
    border:1px solid #ccc;
    border-radius: 20%;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;  
    font-weight: 700;
}

input[type=radio]:checked+label{
    background-image: none;
    background-color: #028090;
    color:#ffffff;
}

body {
    margin: 0;
}