@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }
html { font-size:62.5%; }

body{
    background-color: #028090;
    font-family: yg-jalnan;
    text-align: center;
    justify-items: center;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 5.0rem;
}

.to_home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.startlogo{
    width: 30.0rem;
}

a{
    text-decoration: none;
    color: #ffffff;  
}

h2{
    text-align: center;
    font-size: 4.0rem;
}

.start-btn{
    border: 0;
    font-size: 2rem;
    text-align: center;
    color: #028090;
    border-radius: 1.0rem;
    background-color: #ffffff;
    font-family: yg-jalnan;
    line-height: 2;
    width: 40%;
}

@media screen and (max-width: 768px) {
    /* 모바일에 사용될 스트일 시트를 여기에 작성합니다. */
    .start-btn{
        width: 70%;
    }
}
