<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css"  />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   
       <style>
            body {
                padding: 0;
                margin: 0;
            }
            html, body, #map {
                height: 100%;
                width: 100%;
            }
        </style>
        <script type="text/javascript"> 
        $(document).ready(function(){
            var p="{{pistes|safe}}";
            var pi=p.replace(/\'/gi, "\"");
            var D=JSON.parse(pi);
            var map = L.map('map').setView([37.6511988,127.0161604], 15);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18
            }).addTo(map); 
            var markers = L.geoJSON(D).addTo(map);
            
             });

        
        </script>
    </head>
    <body>
        <form action='{% url "testAjax" %}' method="POST">
            {% csrf_token %}
        <input type="submit" value="execute" id="execute"/>
		<div id="map"></div></form>
        <P>ㅁㅇ로매ㅑㅗ랴모로바먀ㅗㄹ먀ㅗㄹ;ㅑㅐ</P>
    </body>
</html>