<!--위험물지도관리 페이지입니다.-->
<!DOCTYPE html>
<html>
{% load static %}

<head>
	<title>위험물지도 관리</title>
	<meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'css/manage_danger_map.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
</head>
<body>
	<div class="top_box">
        <a href="{% url 'mypage'%}"><img class="goback" src="{% static 'img/icon_goback.svg' %}"></a>
		<p class="box_title">내가 등록한 위험물 관리</p>
    </div>
    <table>
        {% for list in user_danger_list %}
            <ul>
                <li>
                    <img src="{{list.danger_img.url}}" width="120">
                    {{list.danger_type}}
                    {{list.create_at}}
                    <input type="button" value = "삭제(아직아무일도일어나지않음">
                </li>
            </ul>
        {% endfor %}
    </table>
</body>
</html>