<!--위험물지도관리 페이지입니다.-->
<!DOCTYPE html>
<html>
{% load static %}

<head>
	<title>위험물지도 관리</title>
	<meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'css/manage_danger_map.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
</head>
<body>
	<div class="top_box">
        <a href="{% url 'mypage'%}"><img class="goback" src="{% static 'img/icon_goback.svg' %}"></a>
		<p class="box_title">내가 등록한 위험물 관리</p>
    </div>

    <div class="item_title_box">
        <p class="title_type">위험물 유형</p>
        <p class="title_loc">위치</p>
        <p class="title_date">등록날짜</p>
    </div>

    <!--내가 등록한 위험물 예시-->
    <div class="danger_item_box">
        <p class="danger_type">쓰레기적치</p>
        <p class="danger_loc">쌍문동OOO</p>
        <p class="danger_date">20.05.28</p>
    </div>
    <div class="danger_item_box">
        <p class="danger_type">유해시설</p>
        <p class="danger_loc">창동OOO</p>
        <p class="danger_date">20.05.30</p>
    </div>
    <div class="danger_item_box">
        <p class="danger_type">CCTV없음</p>
        <p class="danger_loc">우이동OOO</p>
        <p class="danger_date">20.07.19</p>
    </div>

    <table>
        {% for list in user_danger_list %}
            <ul>
                <li>
                    <img src="{{list.danger_img.url}}" width="120">
                    {{list.danger_type}}
                    <input type="button" value = "삭제(아직아무일도일어나지않음">
                </li>
            </ul>
        {% endfor %}
    </table>
</body>
</html>