<!--보호자관리 페이지입니다.-->
<!DOCTYPE html>
<html>
{% load static %}

<head>
	<title>보호자 설정</title>
	<meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'css/manage_danger_map.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
</head>
<body>
	<div class="top_box">
        <a href="/mypage"><img class="goback" src="{% static 'img/icon_goback.svg' %}"></a>
		<p class="box_title">보호자 설정</p>
    </div>
</body>
</html>