<!--위험물등록 페이지입니다.-->
<!DOCTYPE html>
<html>
{% load static %}

<head>
	<title>위험물 등록하기</title>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="{% static 'css/manage_danger_map.css' %}">

</head>

<body>
	<div class="top_box">
		<a href="{% url 'danger_map' %}"><img class="goback" src="{% static 'img/icon_goback.svg' %}"></a>
		<p class="box_title">위험물 등록하기</p>
	</div>

	<div class="">
		<form method="POST">
			{% csrf_token %}
			
			<p>
				<label for="danger_type">
					<span>위험물 유형:</span>
					<select id="danger_type" name="">
						<option value="no_cctv">CCTV없음</option>
						<option value="no_lamp">가로등없음</option>
						<option value="caution_place">주의시설</option>
						<option value="trash">쓰레기 적치</option>
						<option value="harmfull_place">유해시설</option>
					</select>
				</label>
			</p>
			<p>
				<label>
					<span>이미지 첨부:</span>
					<input type="file" name="image">
				</label>
			</p>
			<p>
				<label>
					<spen>위험물 위치:</spen>
				</label>
			</p>
			<hr>
			<input class="" type="submit" value="등록">
		</form>
	</div>
</body>
</html>