<!--첫화면 페이지입니다.-->
<!DOCTYPE html>

<html>
{% load static %}

<head>
    <title>거기어때?!</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/startpage.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
</head>

<body>

    <h1>거기어때?!</h1>
    <div class="to_home">
        <a href="{% url 'donglevel' %}"><img class="startlogo" src="{% static 'img/startlogo.png' %}"><br>
            <h2>지도 바로가기</h2>
        </a>
    </div>

    <button class="start-btn" type="button">
        이용안내
    </button>
    <br>
    <br>
    {% load socialaccount %}
    {% if request.user.is_authenticated %}
        <button class="start-btn" type="button" onclick="location.href='{% url 'logout'%}'">
            로그아웃
        </button></a>
    {% else %}
        <button class="start-btn" type="button" onclick="location.href='{% provider_login_url 'kakao' method='oauth2' %}'">
            <img src="{% static 'img/logo_kakao.png' %}" style="width: 45px; vertical-align: middle;">&nbsp카카오 로그인
        </button>
    {% endif %}
</body>

</html>